<a href="https://colab.research.google.com/github/amartyaj/Python_Practice/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pprint import pprint
import math as m
a = True
pprint(a)
a = 4.99
print(a)
print(int(a))
print(m.floor(a))

print(m.ceil(a))

True
4.99
4
4
5

In [ ]:
import numpy as np
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,39,93,39]))
demo_matrix[0:3, 1:3]

array([[35, 74],
       [37, 37],
       [39, 93]])

In [ ]:
import numpy as np
demo_array = np.arange(0,10)
demo_array<3
demo_array.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

TypeError: 'tuple' object is not callable

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/books.csv')
df1.shape
df1.describe
df1.info
df1.columns
df1.dtypes
# df1[df1['average_rating'] > 4].count()

# df1[(df1['average_rating']>4.5) & (df1['ratings_count']<10)]
# df1[df1['language_code'] == 'eng']['average_rating'].mean()
# df1['num_pages'].median()
# df1['num_pages'].mean()
df1[df1['year'] == 2010].count()
df1[(df1['publisher'] == 'DAW') & (df1['average_rating'] > 4)]['author'].unique()
df1[(df1['num_pages'] > 500) & (df1['year'] > 2010)]['title'].count()
df1[df1['author'] == 'Agatha Christie']['title'].count()
df1[(df1['language_code'] == 'spa') & (df1['year'] > 2000)]['title'].count()

84

In [ ]:
# Knapsack Problem:
def count_ways(amount, coins):
    print("Amount: " + str(amount) + "\n" + "Coins: " + str(coins))
    coins.sort()
    print("Sorted Coins: " + str(coins))
    def backtrack(target, start, path, result):
        # print("target: " + str(target) + ", " + "start: " + str(start) + ", " + "path: " + str(path) + ", " + "result: " + str(result))
        if target == 0:
            # If the target amount is reached, add the current combination to the result
            result.append(path)
            print("target: " + str(target) + ", " + "start: " + str(start) + ", " + "path: " + str(path) + ", " + "result: " + str(result))
            return
        for i in range(start, len(coins)):
            print("i: " + str(i))
            print("Coin: " + str(coins[i]))
            if coins[i] > target:
                # Skip coins that are larger than the remaining amount
                print("target: " + str(target) + ", " + "start: " + str(start) + ", " + "path: " + str(path) + ", " + "result: " + str(result))
                continue
            # Recursively explore combinations with the current coin
            print("target: " + str(target) + ", " + "start: " + str(start) + ", " + "path: " + str(path) + ", " + "result: " + str(result))
            print("target - coins[i]: " + str(target - coins[i]) + ", " + "i: " + str(i) + ", " + "path + [coins[i]]: " + str(path + [coins[i]]) + ", " + "result: " + str(result))
            backtrack(target - coins[i], i, path + [coins[i]], result)

    # List to store all valid combinations
    result = []
    # Start the backtracking process
    backtrack(amount, 0, [], result)
    return result

# Example usage
N = 3
C = [8, 3, 1, 2]
combinations = count_ways(N, C)
print(f"Total ways: {len(combinations)}")
print("Combinations:")
for combo in combinations:
    print(combo)

Amount: 3
Coins: [8, 3, 1, 2]
Sorted Coins: [1, 2, 3, 8]
i: 0
Coin: 1
target: 3, start: 0, path: [], result: []
target - coins[i]: 2, i: 0, path + [coins[i]]: [1], result: []
i: 0
Coin: 1
target: 2, start: 0, path: [1], result: []
target - coins[i]: 1, i: 0, path + [coins[i]]: [1, 1], result: []
i: 0
Coin: 1
target: 1, start: 0, path: [1, 1], result: []
target - coins[i]: 0, i: 0, path + [coins[i]]: [1, 1, 1], result: []
target: 0, start: 0, path: [1, 1, 1], result: [[1, 1, 1]]
i: 1
Coin: 2
target: 1, start: 0, path: [1, 1], result: [[1, 1, 1]]
i: 2
Coin: 3
target: 1, start: 0, path: [1, 1], result: [[1, 1, 1]]
i: 3
Coin: 8
target: 1, start: 0, path: [1, 1], result: [[1, 1, 1]]
i: 1
Coin: 2
target: 2, start: 0, path: [1], result: [[1, 1, 1]]
target - coins[i]: 0, i: 1, path + [coins[i]]: [1, 2], result: [[1, 1, 1]]
target: 0, start: 1, path: [1, 2], result: [[1, 1, 1], [1, 2]]
i: 2
Coin: 3
target: 2, start: 0, path: [1], result: [[1, 1, 1], [1, 2]]
i: 3
Coin: 8
target: 2, start: 0, path: [1], result: [[1, 1, 1], [1, 2]]
i: 1
Coin: 2
target: 3, start: 0, path: [], result: [[1, 1, 1], [1, 2]]
target - coins[i]: 1, i: 1, path + [coins[i]]: [2], result: [[1, 1, 1], [1, 2]]
i: 1
Coin: 2
target: 1, start: 1, path: [2], result: [[1, 1, 1], [1, 2]]
i: 2
Coin: 3
target: 1, start: 1, path: [2], result: [[1, 1, 1], [1, 2]]
i: 3
Coin: 8
target: 1, start: 1, path: [2], result: [[1, 1, 1], [1, 2]]
i: 2
Coin: 3
target: 3, start: 0, path: [], result: [[1, 1, 1], [1, 2]]
target - coins[i]: 0, i: 2, path + [coins[i]]: [3], result: [[1, 1, 1], [1, 2]]
target: 0, start: 2, path: [3], result: [[1, 1, 1], [1, 2], [3]]
i: 3
Coin: 8
target: 3, start: 0, path: [], result: [[1, 1, 1], [1, 2], [3]]
Total ways: 3
Combinations:
[1, 1, 1]
[1, 2]
[3]

In [ ]:
# Knapsack Problem:
def count_ways(amount, coins):
    # coins.sort()
    target_array = []
    def backtrack(target, start, path, result):
        target_array.append(target)
        max_target = max(target_array)
        if(target == max_target):
            print("target: " + str(target) + ", " + "start: " + str(start) + ", " + "path: " + str(path) + ", " + "result: " + str(result))
        if target == 0:
            result.append(path)
            # print("target: " + str(target) + ", " + "start: " + str(start) + ", " + "path: " + str(path) + ", " + "result: " + str(result))
            return
        for i in range(start, len(coins)):
            # print(f"{i} -> Here")
            if coins[i] > target:
                continue
            print("target: " + str(target - coins[i]) + ", " + "start: " + str(i) + ", " + "path: " + str(path + [coins[i]]) + ", " + "result: " + str(result))
            backtrack(target - coins[i], i, path + [coins[i]], result)
    result = []
    backtrack(amount, 0, [], result)
    return result

# Example usage
N = 5
C = [8, 3, 1, 2]
C.sort()
C = [x for x in C if x <= N]
# print(C)
combinations = count_ways(N, C)
print(f"Total ways: {len(combinations)}")
print("Combinations:")
lengths = []
for combo in combinations:
    print(combo)
    lengths.append(len(combo))
print("Length of shortest way: " + str(min(lengths)))

target: 5, start: 0, path: [], result: []
target: 4, start: 0, path: [1], result: []
target: 3, start: 0, path: [1, 1], result: []
target: 2, start: 0, path: [1, 1, 1], result: []
target: 1, start: 0, path: [1, 1, 1, 1], result: []
target: 0, start: 0, path: [1, 1, 1, 1, 1], result: []
target: 0, start: 1, path: [1, 1, 1, 2], result: [[1, 1, 1, 1, 1]]
target: 1, start: 1, path: [1, 1, 2], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2]]
target: 0, start: 2, path: [1, 1, 3], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2]]
target: 2, start: 1, path: [1, 2], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3]]
target: 0, start: 1, path: [1, 2, 2], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3]]
target: 1, start: 2, path: [1, 3], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3], [1, 2, 2]]
target: 3, start: 1, path: [2], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3], [1, 2, 2]]
target: 1, start: 1, path: [2, 2], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3], [1, 2, 2]]
target: 0, start: 2, path: [2, 3], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3], [1, 2, 2]]
target: 2, start: 2, path: [3], result: [[1, 1, 1, 1, 1], [1, 1, 1, 2], [1, 1, 3], [1, 2, 2], [2, 3]]
Total ways: 5
Combinations:
[1, 1, 1, 1, 1]
[1, 1, 1, 2]
[1, 1, 3]
[1, 2, 2]
[2, 3]
Length of shortest way: 2

In [ ]:
c = [1] + [2]
print(c)

[1, 2]

In [ ]:
import pandas as pd
flowers = pd.Series([2, 3, 5, 4], index=['lily', 'rose', 'daisy', 'lotus'])
flowers['daisy']

5

In [ ]:
array_1 = np.linspace(0,20,6)
array_2 = np.arange(0,20,6)
array_1
array_2
a = np.arange(0,20)
a[2:7]
a[a < 3]
np.cos([0, 1, 2, 3, 4])

mat = np.array([[1, 2, 1], [4, 5, 9],[1, 8, 9]])

mat[1] = 5
mat

np.ones([2, 2])

n1 = np.matrix([[121, 144, 169], [196, 225, 256], [ 289, 324, 361]])
n2 = np.matrix([[ 1, 4, 9], [ 1, 5, 4], [ 9, 4, 8]])
n3 = n1 @ n2

AttributeError: 'matrix' object has no attribute 'describe'

In [ ]:
mat = np.matrix([[ 1, 4, 9, 121, 144, 169],
                [ 16, 25, 36, 196, 225, 256],
                [ 49, 64, 81, 289, 324, 361]])
np.mean(mat)

131.66666666666666

In [ ]:
import copy

a = [1, 2, 3, 4]
# del(a[2])
# print(a)
b = [2, 3, 4, 5]
c = [3, 4, 5, 6]
d = [4, 5, 6, 7]
e = [a, b, c, d]
f = e
g = e[:]
h = copy.deepcopy(e)

for i in range(0, 4):
  print(e[i][i])

g = ['m', 'n', 'o', 'p']
print(g[1])

1
3
5
7
n

In [ ]:
a = int(input("Input your number: "))
b = 101

if (a < b):
    print(f"{a} is less than {b}")
else:
    print(f"{a} is greater than or equal to {b}")

Input your number: 101
101 is greater than or equal to 101

In [ ]:
x = [1, 2, 3, 4, 5]
while x:
    print(x.pop(0))

1
2
3
4
5

In [ ]:
x1 = [1, 2, 3, 4]

x2 = []
for x in x1:
    x2.append(x + 1)

print(x2)

# List comprehension
x3 = [x + 1 for x in x1]
print(x3)

x4 = ['Yes' if (x + 1 <= 3) else 'No' for x in x1]
print(x4)

[2, 3, 4, 5]
[2, 3, 4, 5]
['Yes', 'Yes', 'No', 'No']

In [ ]:
# Regular function
def add(x, y):
    return x + y

# Lambda function
add_lambda = lambda x, y: x + y

# Both functions do the same thing
print(add(2, 3))
print(add_lambda(2, 3))

list_mul = ['2','2','2']
list_mul*2

# num = int(input())
num = 10

# Write your code below

if (num >= 0):
    print("Positive number")

print(10 % 2)

5 == (3 + 2)

a = 3
print(a + (33))

a = '5a'
int(a)

a = int(input())
b = int(input())
c = int(input())

if(a >= 0):
    if (b % 2 == 0):
        if (c % 3 == 0):
            print("All conditions are satisfied")
else:
    print("Conditions are not satisfied")

4
6
9
All conditions are satisfied

In [ ]:
(lambda x: (x+2)*5/2)(4)

i = '20'
if i > 20:
    print(1)
else:
    print(2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
repeated_list = [2] * 4
print(repeated_list)

[2, 2, 2, 2]

In [ ]:
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car)
type(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}

dict

In [ ]:
def test1(*args):
    return args

my_list = [1, 2, 3]
# test1(1, 2, 3)
# test1(my_list)
test1(*my_list)

(1, 2, 3)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
data = spark.read.csv("/content/sample_data/california_housing_test.csv")
data.show()
# print(type(data))

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')